# Entorno virtual de Python
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars

# Archivos del sistema operativo
.DS_Store
Thumbs.db
